<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head') %>
        <!-- /////// CARGA CSS  PARTICULAR/////// -->
        <link rel="stylesheet" href="/css/stylesRegister.css">
</head>

<body>
    <%- include ('../partials/header') %>
        <main class="mainRegister">

            <h1><i class="fa-solid fa-trash-can"></i></h1>
            <h1>¿Desea borrar el siguiente producto?</h1>
            <h3>Por favor seleccione una opción para eliminar el producto o mantenerlo publicado</h3>
            <img src=<%= destinationFolder + productos.imagen %> alt="imagen de equipo">
            <p class="tituloDatoProducto"> <%= productos.titulo %> </p>
            <p> ID: <%= productos.id %></p>

            <div class="contenedorBotones">
                
                <a href="/products/products">
                    <div class="botones">
                        <button class="btnSecundario" type="submit"><span> CANCELAR </span> </button>
                    </div>
                </a>
                <form action="/products/confirmDelete/<%= productos.id %>?_method=DELETE" method="POST">
                    <div class="botones">
                        <button class="btnPrincipal" type="submit"> <i class="fa-solid fa-trash-can"></i> BORRAR USUARIO </button>
                    </div>
                </form>    
            </div>


        </main>
        <%- include ('../partials/footer') %>
</body>

</html>