<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head') %>
        <!-- /////// CARGA CSS  PARTICULAR/////// -->
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/stylesRegister.css">
</head>

<body>
    <%- include ('../partials/header') %>
        <main class="mainRegister">
            <h1><i class="fa-solid fa-pen"></i></h1>
            <h1> EDITAR PRODUCTO</h1>
            <h3>Completa la información del producto a editar</h3>


            <div class="controlGeneral">
                <form action="/products/editProduct/<%= productos.id %>?_method=PUT" method="POST" enctype="multipart/form-data" id="productForm">
                    <div class="campoFormulario">
                        <label> Nombre de la PC </label>
                        <input  type="text" id="nombre" name="nombre" class="controlFormulario" value="<%= productos.titulo %>">
                        <label>
                            <p id="errorNombre" class="msg-errors-front"></p>
                            <% if (locals.errors && locals.errors.nombre ) { %>
                                <p class="msg-errors"> <%= errors.nombre.msg %> </p>
                            <% } %>
                        </label>    
                    </div>
                    <div class="campoFormulario">
                        <label> Procesador </label>
                        <input  type="text" id="procesador" name="procesador" class="controlFormulario" value="<%= productos.procesador %>">
                            <label >
                                <p id="errorProcesador" class="msg-errors-front"></p>
                                <% if (locals.errors && locals.errors.procesador ) { %>
                                    <p class="msg-errors"> <%= errors.procesador.msg %> </p>
                                <% } %>
                            </label>
                            
                        </div>
                    <div class="campoFormulario">
                        <label> Motherboard </label>
                        <input  type="text" id="mother" name="mother" class="controlFormulario" value="<%= productos.mother %>">
                            <label>
                                <p id="errorMother" class="msg-errors-front"></p>
                                <% if (locals.errors && locals.errors.mother ) { %>
                                    <p class="msg-errors"> <%= errors.mother.msg %> </p>
                                <% } %>
                            </label>
                        </div>
                    <div class="campoFormulario">
                        <label> Placa de video </label>
                        <input  type="text" id="video" name="video" class="controlFormulario" value="<%= productos.video %>">
                            <label>
                                <p id="errorVideo" class="msg-errors-front"></p>
                            </label>
                        </div>
                    <div class="campoFormulario">
                        <label> Memoria Ram </label>
                        <input  type="text" id="ram" name="ram" class="controlFormulario" value="<%= productos.ram %>">
                            <label>
                                <p id="errorRam" class="msg-errors-front"></p>
                                <% if (locals.errors && locals.errors.ram ) { %>
                                    <p class="msg-errors"> <%= errors.ram.msg %> </p>
                                <% } %>
                            </label>
                        </div>
                    <div class="campoFormulario">
                        <label> Disco Rígido </label>
                        <input  type="text" id="disco" name="disco" class="controlFormulario" value="<%= productos.disco %>">
                            <label>
                                <p id="errorDisco" class="msg-errors-front"></p>
                            </label>
                        </div>
                    <div class="campoFormulario">
                        <label> Gabinete </label>
                        <input  type="text" id="gabinete" name="gabinete" class="controlFormulario" value="<%= productos.gabinete %>">
                            <label>
                                <p id="errorGabinete" class="msg-errors-front"></p>
                                <% if (locals.errors && locals.errors.gabinete ) { %>
                                    <p class="msg-errors"> <%= errors.gabinete.msg %> </p>
                                <% } %>
                            </label>
                        </div>
                    <div class="campoFormulario">
                        <label> Fuente </label>
                        <input  type="text" id="fuente" name="fuente" class="controlFormulario" value="<%= productos.fuente %>">
                            <label>
                                <p id="errorFuente" class="msg-errors-front"></p>
                                <% if (locals.errors && locals.errors.fuente ) { %>
                                    <p class="msg-errors"> <%= errors.fuente.msg %> </p>
                                <% } %>
                            </label>
                        </div>
                    <div class="campoFormulario">
                        <label> Precio </label>
                        <input  type="text" id="precio" name="precio" class="controlFormulario" value='<%=productos.precio %>'>
                            <label>
                                <p id="errorPrecio" class="msg-errors-front"></p>
                                <% if (locals.errors && locals.errors.precio ) { %>
                                    <p class="msg-errors"> <%= errors.precio.msg %> </p>
                                <% } %>
                            </label>
                        </div>
                    <div class="contenedorImgEdit">
                        <div>
                            <img src=<%= destinationFolder + productos.imagen %> alt="imagen de equipo">
                        </div>
                        <div>
                            <p><i class="fas fa-angle-left"></i>Imagen Actual</p>
                            <label for="foto"><i class="fa-solid fa-camera"></i>Seleccioná la fotografía del producto
                            </label>
                            <input type="file" id="foto" name="foto" accept=".jpg,.jpeg,.png,.gif" class="controlFormulario" value='<%=productos.imagen %>'>
                        </div>
                        <% if (locals.errors && locals.errors.foto ) { %>
                            <p class="msg-errors"> <%= errors.foto.msg %> </p>
                        <% } %>
                    </div>
                    <div class="campoFormulario">
                        <label>Seleccioná la categoría de procesador</label>
                        <div class="contenedorRadioButtonsLogos">
                            <label><input type="radio"  id="categoriaIntel" name="categoria" value="Intel"
                                    <% if (productos.categorias.marca =="Intel" ){%> checked <%}%>> <img
                                        src="/img/logo_intel.svg"></input></label>
                            <label><input type="radio"  id="categoriaAmd" name="categoria" value="Amd"
                                    <% if (productos.categorias.marca=="Amd" ){%> checked <%}%>> <img
                                        src="/img/logo_amd.svg"></input></label>
                        </div>
                        <label>
                            <p id="errorCategoria" class="msg-errors-front"></p>
                        </label>
                    </div>
                    <div class="botones">
                        <button class="btnPrincipal" type="submit"> GUARDAR CAMBIOS </button>
                    </div>
                </form>
                <form action="/products/editProduct/<%= productos.id %>/deleteProduct?_method=DELETE" method="POST">
                    <div class="botones">
                        <button class="btnSecundario" type="submit"><span>BORRAR PRODUCTO</span> </button>
                    </div>
                </form>
            </div>
            <p class="btnVolver"><i class="fas fa-angle-left"></i><a href="/index"> Volver a la página principal sin
                    hacer cambios</a> </p>
        </main>
        <%- include ('../partials/footer') %>
        <script src="/js/newProductsValidation.js" > </script>
</body>
</html>