<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('./partials/head') %>
        <!-- /////// CARGA CSS  PARTICULAR/////// -->
        <link rel="stylesheet" href="/css/stylesIndex.css">
</head>

<body>
    <%- include ('./partials/header') %>
        <div class="slider">
            <img src="/img/banner_home.jpg" alt="Imagen 1 del carrusel">
        </div>
        <main class="mainIndex">

            <h2> <span class="txtMagenta">\\</span> COMPUTADORAS ARMADAS <span class="txtMagenta">//</span></h2>


            <section class="carruselPcArmadas">
                <!-- <i class="fas fa-angle-left"></i> -->

                <!-- /////////////// PC ARMADA INICIO /////////////// -->
                <article>
                    <div class="datosdinamicos">
                        <!--  INICIO DE DATOS DINAMICOS //////////////////    -->
                        <% for (let i=0; i < 4; i++){ %>
                            <div class="contenedorArticulos">
                                <% let random=(0 + Math.floor(Math.random()*30)) %>
                                    <div class="fotoProducto"><img src=<%=pcArmadasJS[random].imagen %>
                                        alt="Pc Armada 02">
                                    </div>
                                    <div class="contenedorPrecioBtn">
                                        <div class="iconosMarcas">
                                            <img src=<%=pcArmadasJS[random].logoMarca %> alt="AMD">
                                        </div>
                                        <div class="precioPcArmada">Efectivo: <span><br> $ <%=
                                                    pcArmadasJS[random].precio %> </span>
                                        </div>
                                        <a href="/products/productDetail/<%=pcArmadasJS[random].id%>">
                                            <button class="btnPrincipal"> INFO
                                                <span class="txtMagenta">//</span>
                                            </button>
                                        </a>
                                    </div>
                                    <div class="nombrePC">
                                        <%= pcArmadasJS[random].titulo %>
                                    </div>
                                    <div class="caracteristicas">
                                        <%= pcArmadasJS[random].procesador %>, <%= pcArmadasJS[random].memoriaRam %>,
                                                <%= pcArmadasJS[random].placaDeVideo %>,
                                                    <%= pcArmadasJS[random].discoRigido %>
                                    </div>

                            </div>
                            <% } %>
                    </div>


                </article>

                <!-- <i class="fas fa-angle-right"></i> -->
            </section>

            <h2> <span class="txtMagenta">\\</span> ACCESORIOS <span class="txtMagenta">//</span></h2>


            <section class="carruselAccesorios">
                <!-- <i class="fas fa-angle-left"></i> -->

                <!-- /////////////// ACCESORIO INICIO /////////////// -->
                <article>
                    <div class="contenedorArticulos">
                        <div class="fotoProducto"><img src="/img/productos_accesorios/Accesorios_auriculares.jpg"
                                alt="Auriculares">
                        </div>
                        <div class="contenedorPrecioBtn">

                            <button class="btnPrincipal">AURICULARES <span class="txtMagenta">//</span></button>

                        </div>
                    </div>
                </article>
                <!-- /////////////// ACCESORIO INICIO /////////////// -->
                <article>
                    <div class="contenedorArticulos">
                        <div class="fotoProducto"><img src="/img/productos_accesorios/Accesorios_mouse.jpg" alt="Mouse">
                        </div>
                        <div class="contenedorPrecioBtn">

                            <button class="btnPrincipal">MOUSE <span class="txtMagenta">//</span></button>

                        </div>
                    </div>
                </article>
                <!-- /////////////// ACCESORIO INICIO /////////////// -->
                <article>
                    <div class="contenedorArticulos">
                        <div class="fotoProducto"><img src="/img/productos_accesorios/Accesorios_teclados.jpg"
                                alt="Teclados">
                        </div>
                        <div class="contenedorPrecioBtn">

                            <button class="btnPrincipal">TECLADOS <span class="txtMagenta">//</span></button>

                        </div>
                    </div>
                </article>
                <!-- /////////////// ACCESORIO INICIO /////////////// -->
                <article>
                    <div class="contenedorArticulos">
                        <div class="fotoProducto"><img src="/img/productos_accesorios/Accesorios_sillas.jpg"
                                alt="Sillas">
                        </div>
                        <div class="contenedorPrecioBtn">

                            <button class="btnPrincipal">SILLAS <span class="txtMagenta">//</span></button>

                        </div>
                    </div>
                </article>

            </section>

        </main>
        <div class="contenedorAnuncios">
            <section class="anuncio1">
                <h2> <span>INGRESA EL CODIGO</span>
                    <p>OTOÑO2022</p>
                    <span class="bajadaAnuncio"> Y OBTENÉ UN 5% DE DESCUENTO</span>
                </h2>
                <h3>*en compras superiores a $20.000</h3>
            </section>
            <section class="anuncio2">
                <h2>SUSCRIBITE A NUESTRO <br><span>NEWSLETTER</span></h2>
                <h3>Y RECIBÍ TODAS LAS OFERTAS</h3>
                <form action="">
                    <input type="text" placeholder="ingrese su email">
                    <form action="">
                        <button class="btnPrincipal">SUSCRIBIRME <span class="txtMagenta">//</span></button>
                    </form>
                </form>
            </section>
        </div>
        <%- include ('./partials/footer') %>
</body>

</html>