<!DOCTYPE html>
<html lang="en">

<head>
<%- include ('../partials/head') %>
 <!-- /////// CARGA CSS  PARTICULAR/////// -->
 <link rel="stylesheet" href="/css/stylesRegister.css">
</head>

    <body>
        <%- include ('../partials/header') %>
            <main class="mainRegister">
                <h1><i class="fa-solid fa-pen"></i></h1>
                    <h1>  EDITAR PRODUCTO</h1>
                    <h3>Completa la información del producto a editar</h3>


                    <div class="controlGeneral">
                        <form action="/products/editProduct/<%= pcArmadasJS.id %>?_method=PUT" method="POST">
                            <div class="campoFormulario">
                                <label> Titulo </label>
                                <input required="required" type="text" id="nombre" name="nombre" placeholder="NOMBRE"
                                     class="controlFormulario" value="<%= pcArmadasJS.titulo %>">
                            </div>
                            <div class="campoFormulario">
                                <label> Procesador </label>
                                <input required="required" type="text" id="procesador" name="procesador"
                                    placeholder="PROCESADOR" class="controlFormulario" value="<%= pcArmadasJS.procesador %>">
                            </div>
                            <div class="campoFormulario">
                                <input required="required" type="text" id="mother" name="mother"
                                    placeholder="MOTHER" class="controlFormulario" value="<%= pcArmadasJS.mother %>">
                            </div>
                            <div class="campoFormulario">
                                <input required="required" type="text" id="video" name="video"
                                    placeholder="PLACA DE VIDEO" class="controlFormulario" value="<%= pcArmadasJS.placaDeVideo %>">
                            </div>
                            <div class="campoFormulario">
                                <input required="required" type="text" id="ram" name="ram"
                                    placeholder="MEMORIA RAM" class="controlFormulario" value="<%= pcArmadasJS.memoriaRam %>">
                            </div>
                            <div class="campoFormulario">
                                <input required="required" type="text" id="disco" name="disco"
                                    placeholder="DISCO RIGIDO" class="controlFormulario" value="<%= pcArmadasJS.discoRigido %>">
                            </div>
                            <div class="campoFormulario">
                                <input required="required" type="text" id="gabinete" name="gabinete"
                                    placeholder="GABINETE" class="controlFormulario" value="<%= pcArmadasJS.gabinete %>">
                            </div>
                            <div class="campoFormulario">
                                <input required="required" type="text" id="fuente" name="fuente"
                                    placeholder="FUENTE" class="controlFormulario" value="<%= pcArmadasJS.fuente %>">
                            </div>
                            <div class="campoFormulario">
                                <input required="required" type="text" id="precio" name="precio"
                                    placeholder="PRECIO" class="controlFormulario" value="<%= pcArmadasJS.precio %>">
                            </div>
                            
                            <div class="campoFormulario">
                                <label for=""><i class="fa-solid fa-camera"></i>Seleccioná la fotografía del producto </label>
                                <input type="file" id="foto" name="foto" accept=".jpg"
                                     class="controlFormulario">
                            </div>
                            <p>Imagen Actual</p>
                            <img src= <%= pcArmadasJS.imagen %> alt="imagen de equipo">

                            <div class="campoFormulario">
                                <label for="logoMarca"> Seleccioná el logo de la Marca </label>
                                <input type="radio" id="logoMarca" name="logoMarca" class="controlFormulario" value="/img/logo_amd.jpg"> AMD
                                <input type="radio" id="logoMarca" name="logoMarca" class="controlFormulario" value="/img/logo_intel.jpg"> INTEL
                            </div>

                            <div class="botones">
                                <button class="btnPrincipal" type="submit"> GUARDAR </button>
                                <button class="btnSecundario" type="reset"> BORRAR </button>
                            </div>
                        </form>
                    </div>
               

            </main>
            <%- include ('../partials/footer') %>
    </body>

</html>