<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ('../partials/head') %>
  <!-- /////// CARGA CSS  PARTICULAR/////// -->
 <link rel="stylesheet" href="/css/stylesProducts.css">
</head>
<body>
  <%- include ('../partials/header') %>

<!-- /////// MAIN  /////// -->

  <main class="mainProduct">

    <h2>COMPUTADORAS ARMADAS <span class="txtMagenta">//</span></h2>
    <a href="/products/editProduct/<%= pcArmadasJS.id %>"><div class="btnEdit"><i class="fa-solid fa-pen"></i><span>EDITAR </span> </div></a>
    <form action="/products/editProduct/<%= pcArmadasJS.id %>/deleteProduct?_method=DELETE" method="POST">
      <button class="btnDelete" type="submit" ><i class="fa-solid fa-trash-can"></i> Eliminar </button>
      <!-- <a href=""><div class="btnDelete"><i class="fa-solid fa-trash-can"></i><span>ELIMINAR </span> </div></a> -->
    </form>
    

    <article class="contenedorSeccion_P">
      <div class="contenedorFotoIconos">
        <div class="fotoProducto_P"><img src= <%= pcArmadasJS.imagen %> alt="Pc Armada 01"></div>
        <div class="contenedorIconosMarca">
          <div class="iconosMarcas"><img src= <%= pcArmadasJS.logoMarca %> alt="Intel Inside"></div>
          <div class="iconosMarcas"><img src="/img/icon_gigabyte.jpg" alt="Gigabyte"></div>
          <div class="iconosMarcas"><img src="/img/icon_msi.jpg" alt="MSI"></div>
          <div class="iconosMarcas"><img src="/img/icon_kingstone.jpg" alt="Kingstone"></div>
          <div class="iconosMarcas"><img src="/img/icon_wd.jpg" alt="WD"></div>
        </div>
      </div>

      <div class="contenedorDetallesProducto">

        <h1> <%= pcArmadasJS.titulo %> </h1>
        <div class="contenedorCaracteristicas">
          <div class="caracteristicas_P">PROCESADOR:<span> <%= pcArmadasJS.procesador %> </span></div>
          <div class="caracteristicas_P">MOTHER:<span> <%= pcArmadasJS.mother %> </span></div>
          <div class="caracteristicas_P">PLACA DE VÍDEO:<span> <%= pcArmadasJS.placaDeVideo %> </span></div>
          <div class="caracteristicas_P">MEMORIA RAM:<span> <%= pcArmadasJS.memoriaRam %> </span></div>
          <div class="caracteristicas_P">DISCO RÍGIDO:<span> <%= pcArmadasJS.discoRigido %> </span></div>
          <div class="caracteristicas_P">GABINETE:<span> <%= pcArmadasJS.gabinete %></span></div>
          <div class="caracteristicas_P">FUENTE:<span> <%= pcArmadasJS.fuente %> </span></div>
        </div>



        <div class="contenedorPrecioBotones">
          <div class="contenedorPrecio">
            <h1> $ <%= pcArmadasJS.precio %> </h1>
            <p class="grisesSecundarios"><a  href="#">Ver los medios de pago</a></p>
          </div>

          <div class="contenedorCantidades">
            <div class="selectorCantidades">
              <form action="">
                <label for="cantidad" class="txtMagenta">CANTIDAD:</label>
                <select name="cantidad">
                  <option value="1">1 unidad</option>
                  <option value="2">2 unidades</option>
                  <option value="3">3 unidades</option>
                  <option value="4">4 unidades</option>
                  <option value="5">5 unidades</option>
                  <option value="6">6 unidades</option>
                  <option value="7">7 unidades</option>
                  <option value="8">8 unidades</option>
                  <option value="9">9 unidades</option>
                  <option value="10">10 unidades</option>
                </select>
              </form>
            </div>
            <div class="grisesSecundarios">(20 disponibles)</div>
          </div>
          <form action="">
            <button class="btnPrincipal">AGREGAR AL CARRITO <span class="txtMagenta">//</span></button>
          </form>

        </div>
      </div>



    </article>


  </main>
  <%- include ('../partials/footer') %>
</body>

</html>