<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head') %>
        <!-- /////// CARGA CSS  PARTICULAR/////// -->
        <link rel="stylesheet" href="/css/stylesRegister.css">
</head>

<body>
    <%- include ('../partials/header') %>
        <main class="mainRegister">

            <h1> EDITAR USUARIO  </h1>
            <h3><%= usersJS.email %></h3>


            <div class="controlGeneral">
                <form method="post" action="/users/editUser/<%= usersJS.id %>?_method=PUT" enctype="multipart/form-data">

                    <% if ( locals.isLogged == 'loggedAdmin' ) { %>
                    
                       
                        <div class="contenedorRol">
                            <label>ROL del Usuario</label>
                                <select name="rol" id="rol">
                                    <option value="Administrador">ADMINISTRADOR</option>
                                    <option value="Cliente">CLIENTE</option>
                                  </select>

                         </div>
                      
                     <% } %> 
                        


                    <div class="campoFormulario">
                        <input required="required" type="text" id="nombre" name="nombre" placeholder="NOMBRE"
                            maxlength="25" class="controlFormulario" value="<%=(locals.oldData ? oldData.nombre : usersJS.nombre )%>">
                            
                    </div>
                    <div class="campoFormulario">
                        <input required="required" type="text" id="apellido" name="apellido" placeholder="APELLIDO"
                            maxlength="20" class="controlFormulario" value="<%=(locals.oldData ? oldData.apellido : usersJS.apellido )%>">
                    </div>
                    <div class="campoFormulario">
                        <input required="required" type="text" id="usuario" name="usuario" placeholder="USUARIO"
                            class="controlFormulario" value="<%=(locals.oldData ? oldData.usuario : usersJS.usuario )%>">
                    </div>
                    <div class="campoFormulario">
                        <input type="password" id="contrasena" name="contrasena"
                            placeholder="CONTRASEÑA ACTUAL" minlength="6" class="controlFormulario">
                    </div>
                    <label> <% if (locals.errors && locals.errors.email ) { %>
                        <p class="msg-errors"> <%= errors.email.msg %> </p>
                        <% } %>
                    </label>
                    <div class="campoFormulario">
                        <input type="password" id="contrasenaNueva" name="contrasenaNueva"
                            placeholder="CONTRASEÑA NUEVA" minlength="6" class="controlFormulario">
                    </div>

                    
                    <!-- PRUEBA PARA HACER RADIO BUTTON CON IMAGEN -->
                    <div class="contenedorAvatar">
                    <div class="campoFormulario">
                        <label>Seleccioná un avatar o subí una imagen desde tu PC con el botón +</label>
                        <div class="contenedorRadioButtonsAvatar">
                            <label><input type="radio" required="required" id="avatar" name="avatar" value="avatar01.png"
                                <% if (usersJS.avatar=="avatar01.png" ){%> checked <%}%>>
                                <img src="/img/avatars/avatar01.png">
                            </input></label>

                            <label><input type="radio" required="required" id="avatar" name="avatar" value="avatar02.png"
                                <% if (usersJS.avatar=="avatar02.png" ){%> checked <%}%>>
                                <img src="/img/avatars/avatar02.png">
                            </input></label>

                            <label><input type="radio" required="required" id="avatar" name="avatar" value="avatar03.png"
                                <% if (usersJS.avatar=="avatar03.png" ){%> checked <%}%>>
                                <img src="/img/avatars/avatar03.png">
                            </input></label>

                            <label><input type="radio" required="required" id="avatar" name="avatar" value="avatar04.png"
                                <% if (usersJS.avatar=="avatar04.png" ){%> checked <%}%>>
                                <img src="/img/avatars/avatar04.png">
                            </input></label>

                            <label><input type="radio" required="required" id="avatar" name="avatar" value="avatar05.png"
                                <% if (usersJS.avatar=="avatar05.png" ){%> checked <%}%>>
                                <img src="/img/avatars/avatar05.png">
                            </input></label>

                            <label><input type="radio" required="required" id="avatar" name="avatar" value="avatar06.png"
                                <% if (usersJS.avatar=="avatar06.png" ){%> checked <%}%>>
                                <img src="/img/avatars/avatar06.png">
                            </input></label>

                            <label><input type="radio" required="required" id="avatar" name="avatar" value="avatar07.png"
                                <% if (usersJS.avatar=="avatar07.png" ){%> checked <%}%>>
                                <img src="/img/avatars/avatar07.png">
                            </input></label>

                            <label><input type="radio" required="required" id="avatar" name="avatar" value="avatar08.png"
                                <% if (usersJS.avatar=="avatar08.png" ){%> checked <%}%>>
                                <img src="/img/avatars/avatar08.png">
                            </input></label>

                            <label><input type="radio" required="required" id="avatar" name="avatar" value="avatar09.png"
                                <% if (usersJS.avatar=="avatar09.png" ){%> checked <%}%>>
                                <img src="/img/avatars/avatar09.png">
                            </input></label>

                            <label><input type="radio" required="required" id="avatar" name="avatar" value="avatar10.png"
                                <% if (usersJS.avatar=="avatar10.png" ){%> checked <%}%>>
                                <img src="/img/avatars/avatar10.png">
                            </input></label>

                            <label><input type="radio" required="required" id="avatar" name="avatar" value="avatar11.png"
                                <% if (usersJS.avatar=="avatar11.png" ){%> checked <%}%>>
                                <img src="/img/avatars/avatar11.png">
                            </input></label>

                            <label><input type="radio" required="required" id="avatar" name="avatar" value="avatar12.png"
                                <% if (usersJS.avatar=="avatar12.png" ){%> checked <%}%>>
                                <img src="/img/avatars/avatar12.png">
                            </input></label>

                            <label><input type="radio" required="required" id="avatar" name="avatar" value="avatar13.png"
                                <% if (usersJS.avatar=="avatar13.png" ){%> checked <%}%>>
                                <img src="/img/avatars/avatar13.png">
                            </input></label>

                            <label><input type="radio" required="required" id="avatar" name="avatar" value="avatar14.png"
                                <% if (usersJS.avatar=="avatar14.png" ){%> checked <%}%>>
                                <img src="/img/avatars/avatar14.png">
                            </input></label>

                            <!-- <label><input type="radio" required="required" id="avatar" name="avatar" value="avatar15.png"
                                <% if (usersJS.avatar=="avatar15.png" ){%> checked <%}%>>
                                <img src="/img/avatars/avatar15.png">
                            </input></label> -->

                      
                            <div class="image-upload" class="contenedorRadioButtonsAvatar">
                                <label for="file-input">
                                  <img src="/img/avatars/avatarAgregarPropio.png"/>
                                </label>
                                <input name = "avatarPropio" id="file-input" type="file" />
                            </div>

                        </div>
                    </div>
                </div>
                    <!-- HASTA ACA HAY QUE BORRAR SI NO QUIEREN DEJAR LOS RADIO BUTTON COMO IMAGEN -->

                    <div class="botones">
                        <button class="btnPrincipal" type="submit"> EDITAR </button>
                    </div>
                </form>
                <form action="/users/editUser/<%= usersJS.id %>/deleteUser?_method=DELETE" method="POST">
                    <div class="botones">
                        <button class="btnSecundario" type="submit"><span>BORRAR USUARIO</span> </button>
                    </div>
                </form>
            </div>


        </main>
        <%- include ('../partials/footer') %>
</body>

</html>