<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head') %>
        <!-- /////// CARGA CSS  PARTICULAR/////// -->
        <link rel="stylesheet" href="/css/stylesRegister.css">
</head>

<body>
    <%- include ('../partials/header') %>
        <main class="mainRegister">

            <h1>EDITAR CONTRASEÑA</h1>

            <div class="controlGeneral">
                <form method="post" action="/users/editPassword/<%= usuario.id %>?_method=PUT">
                        
                    <div class="campoFormulario">
                        <label> Contraseña Antigua </label>
                        <input type="password" id="contrasena" name="contrasena" minlength="6" class="controlFormulario">
                    </div>
                    <label> <% if (locals.errors && locals.errors.contrasena ) { %>
                        <p class="msg-errors"> <%= errors.contrasena.msg %> </p>
                        <% } %>
                    </label>
                    <div class="campoFormulario">
                        <label> Contraseña Nueva </label>
                        <input type="password" id="contrasenaNueva" name="contrasenaNueva" minlength="6" class="controlFormulario">
                    </div>
                </div>
                    <!-- HASTA ACA HAY QUE BORRAR SI NO QUIEREN DEJAR LOS RADIO BUTTON COMO IMAGEN -->

                    <div class="botones">
                        <button class="btnPrincipal" type="submit"> EDITAR </button>
                    </div>
                </form>

                <% if ( locals.isLogged == 'loggedAdmin' ) { %>
                    <a href="/users/usersList">
                <% } else { %>
                    <a href="/users/profile">
                <% } %>

                    <div class="botones">
                        <button class="btnSecundario" type="submit"><span> VOLVER </span> </button>
                    </div>
                </a>
            </div>


        </main>
        <%- include ('../partials/footer') %>
</body>

</html>