<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head') %>
        <!-- /////// CARGA CSS  PARTICULAR/////// -->
        <link rel="stylesheet" href="/css/stylesProfile.css">
</head>

<body>
    <%- include ('../partials/header') %>
        <main>


            <div class="contenedorPerfil">
                <div class="contenedorImg">
                    <img src=<%= destinationFolder + usersJS.avatar %> >
                </div>


                <div class="contenedorDatos">
                    <h1>
                        <%= usersJS.usuario %>
                    </h1>
                    <p> Nombre: <span>
                            <%= usersJS.nombre %>
                        </span></p>
                    <p> Apellido: <span>
                            <%= usersJS.apellido %>
                        </span></p>
                    <p> Email: <span>
                            <%= usersJS.email %>
                        </span></p>

                        <a href="/users/editUser/<%= usersJS.id %>">
                            <div class="botones">
                                <button class="btnSecundario" type="submit"><span> <i class="far fa-edit"></i> EDITAR INFO </span> </button>
                            </div>
                        </a>
                        <a href="/users/editPassword/<%= usersJS.id %>">
                            <div class="botones">
                                <button class="btnSecundario" type="submit"><span> <i class="far fa-edit"></i> EDITAR PASSWORD </span> </button>
                            </div>
                        </a>
                        <form action="/users/logout" method="get">
                            <div class="botones">
                                <button class="btnPrincipal" type="submit"> CERRAR SESIÓN </button>
                            </div>
                        </form>
                </div>

            </div>

            <div class="contenedorBotones">
                
                
                <% if ( locals.isLogged=='loggedAdmin' ) { %>
                    <a href="/users/usersList">
                        <div class="botones">
                            <button class="btnSecundario" type="submit"><span><i class="far fa-eye"></i> VER TODOS LOS USUARIOS </span> </button>
                        </div>
                    </a>
                    <% } %>

                   
            </div>
        </main>
        <%- include ('../partials/footer') %>
</body>

</html>