<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head') %>
        <!-- /////// CARGA CSS  PARTICULAR/////// -->
        <link rel="stylesheet" href="/css/stylesRegister.css">
</head>

<body>
    <%- include ('../partials/header') %>
        <main>

            <p> Esta es la pagina que muestra el perfile del usuario logeado: <%= usersJS.usuario %> </p>
            <p> Nombre: <%= usersJS.nombre %> </p>
            <p> Apellido: <%= usersJS.apellido %> </p>
            <p> Email: <%= usersJS.email %> </p>
            <p> Avatar: </p>
            <img src="/img/avatars/<%= usersJS.avatar %>">

            <form action="/users/logout" method="get">
                <div class="botones">
                    <button class="btnPrincipal" type="submit"> CERRAR SESIÓN </button>
                </div>
            </form>
            <a href="/users/editUser/<%= usersJS.id %>">
                <div class="botones">
                    <button class="btnSecundario" type="submit"><span> EDITAR INFORMACIÓN </span> </button>
                </div>
            </a>
            <a href="/users/usersList">
                <div class="botones">
                    <button class="btnSecundario" type="submit"><span> LISTA DE USUARIOS </span> </button>
                </div>
            </a>

        </main>
        <%- include ('../partials/footer') %>
</body>

</html>