<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head') %>
        <!-- /////// CARGA CSS  PARTICULAR/////// -->
        <link rel="stylesheet" href="/css/stylesProfile.css">
</head>

<body>
    <%- include ('../partials/header') %>
        <main>

            <div class="contenedorPerfil">
                <div class="contenedorImg">
                    <img src="<%= destinationFolder + usuario.avatar %>">
                </div>

                <div class="contenedorDatos">
                    <h1>
                        <%= usuario.usuario %>
                    </h1>
                    <p> ID: <span>
                        <%= usuario.id %>
                    </span></p>
                    <p> Nombre: <span>
                            <%= usuario.nombre %>
                        </span></p>
                    <p> Apellido: <span>
                            <%= usuario.apellido %>
                        </span></p>
                    <p> Email: <span>
                            <%= usuario.email %>
                        </span></p>
                    <p> Rol: <span>
                            <%= usuario.rol.nombre_rol %>
                    </span></p>

                        
                </div>

            </div>

            <div class="contenedorBotones">
                
                <a href="/users/usersList">
                    <div class="botones">
                        <button class="btnSecundario" type="submit"><span> VOLVER </span> </button>
                    </div>
                </a>
        
            </div>
        </main>
        <%- include ('../partials/footer') %>
</body>

</html>